{% extends "base.j2" %}

{% block main %}

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Not Found!</strong> Sorry, the page you are looking for doesn't exist.
</div>


{% endblock %}