{% extends "base.j2" %}

{% block main %}






<div class="span1 text-center">
<ul nav nav-list affix>
</ul>
</div>


<div class="span9">
      <div class="page-header text-center">
        <h1>FAQ</h1>
      </div>

      <h4>What is Snappshot?</h4>
      <p>Snappshot takes your screenshots and generates photos showcasing your app in action.</p>
      <hr />

      <h4>How do I use Snappshot?</h4>
      <p>Just pick an image that you want your screenshot merged into, and then upload a screenshot of your app. We will do the rest and generate an image showcasing your app. </p>
      <hr />

      <h4>Why did you create Snappshot?</h4>
      <p>It began as an open source alternative to <a href="http://placeit.breezi.com/">PlaceIt.</a> I thought the concept was great, but was dissapointed by the selection and that some of the images were incorrect or placed the screenshots incorrectly. I created Snappshot so that the community can add background images and correct the placement of screenshots on the backgrounds if needed. </p>
      <hr />

      <h4>How do I contribute to Snappshot?</h4>
      <p>Snappshot is on <a href="https://github.com/JustinJudd/snappshot">Github</a>. Feel free to fork it, add your own images, and submit a pull request. </p>
      <hr />

      <h4>What license is Snappshot under?</h4>
      <p>Snappshot is released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License</a> </p>
      <hr />

      
</div>
<div class="span1 text-center">
<ul nav nav-list affix>
</ul>
</div>



{% endblock %}