{% extends "base.j2" %}

{% block main %}

<img class="img-polaroid" src="/snappshot/image/{{ image_id }}" />

{% endblock %}

{% block backgrounds %}
{% include "backgrounds.j2" %}
{% endblock backgrounds %}