
{% extends "base.j2" %}


{% block main %}


<div class="span8 text-center">
<img class="img-polaroid" src="{{ STATIC_URL }}images/backgrounds/{{ image_id }}.jpg"  />
</div>


<div class="span4 text-center">
	<form id="fileupload" action="/snappshot/uploaded/{{ image_id }}/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style=" height: 400px;"><img src="{% url screenshot 720 1280 %}" /></div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 250px; max-height: 400px; line-height: 20px;"></div>
  <div class="">
    <span class="btn btn-file btn-info"><span class="fileupload-new"><i class="icon-picture icon-white"></i> Select/Drop image</span><span class="fileupload-exists"><i class="icon-picture icon-white"></i> Change image</span><input type="file" name="file_input" /></span>
    <button type="submit" name="submit" class="btn btn-primary fileupload-exists"><i class="icon-upload icon-white"></i> <span>Place In</span> </button>
  </div>
</div>
</form>
</div>



{% endblock %}

{% block backgrounds %}
{% include "backgrounds.j2" %}
{% endblock backgrounds %}